@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;900&display=swap');

/* Обнуление */

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
    line-height: 1;
    font-size: 16px;
    /* background-color: #0d0129; */
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background: #0f0c29;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #24243e, #302b63, #0f0c29);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #24243e, #302b63, #0f0c29);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


/* HEADER--------------------------------------------------------------------------------------------------------- */

.header {
    background-color: #011929;
    padding: calc(15px + (30 - 15) * ((100vw - 320px) / (1440 - 320)));
    text-align: center;
}


/* MAIN--------------------------------------------------------------------------------------------------------- */

.main {
    padding: 0 15px 0 15px;
    flex: 1 1 auto;
}

.container {
    margin: 0 auto;
    max-width: 1440px;
    margin-bottom: calc(40px + (70 - 20) * ((100vw - 320px) / (1440 - 320)));
}

.title {
    font-size: calc(20px + (30 - 20) * ((100vw - 320px) / (1440 - 320)));
    font-weight: 900;
    letter-spacing: 0.3125rem;
    text-align: center;
    padding-top: 30px;
    margin-bottom: calc(15px + (50 - 20) * ((100vw - 320px) / (1440 - 320)));
    color: #fff;
    text-transform: uppercase;
}


/* MAIN - BUTTONS--------------------------------------------------------------------------------------------------------- */

.buttons-container {
    display: grid;
    gap: calc(20px + (30 - 20) * ((100vw - 320px) / (1440 - 320)));
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.btn {
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(234, 231, 239);
    font-family: 'Roboto', sans-serif;
    /* font-size: calc(20px + (28 - 20) * ((100vw - 320px) / (1440 - 320))); */
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.3125rem;
    border: 3px solid #9899b3;
    padding-top: calc(10px + (20 - 10) * ((100vw - 320px) / (1440 - 320)));
    padding-bottom: calc(10px + (20 - 10) * ((100vw - 320px) / (1440 - 320)));
    padding-left: calc(20px + (40 - 20) * ((100vw - 320px) / (1440 - 320)));
    padding-right: calc(20px + (40 - 20) * ((100vw - 320px) / (1440 - 320)));
    position: relative;
    overflow: hidden;
    z-index: 2;
    border-radius: 10px;
}


/* №1------------------------------------------------------------------------------------------ */

.button-effect-1:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgb(255, 255, 0);
    height: 100%;
    width: 100%;
    z-index: -1;
    transform-origin: bottom left;
    transform: rotate(-90deg);
    transition: transform 1s;
}

.button-effect-1:hover:before {
    transform: rotate(0deg);
}


/* №2------------------------------------------------------------------------------------------ */

.button-effect-2 {
    transition: all 1s;
}

.button-effect-2:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #351435;
    z-index: -1;
    transform: translateX(-100%);
    transition: all 1s;
}

.button-effect-2::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #35014b;
    z-index: -1;
    transform: translateX(100%);
    transition: all 1s;
}

.button-effect-2:hover:before {
    transform: translateX(-50%);
}

.button-effect-2:hover::after {
    transform: translateX(49%);
}

.button-effect-2:hover {
    color: white;
}


/* №3------------------------------------------------------------------------------------------ */

.button-effect-3 {
    color: #767575;
    transition: all 1s;
}

.button-effect-3::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #262626;
    transition: 1s;
    transform: rotateX(90deg);
}

.button-effect-3::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #262626;
    transition: 1s;
    transform: rotateY(90deg);
}

.button-effect-3:hover::before {
    transform: rotateX(0deg);
}

.button-effect-3:hover::after {
    transform: rotateY(0deg);
}

.button-effect-3:hover {
    color: white;
}


/* №4------------------------------------------------------------------------------------------ */

.button-effect-4 {
    color: #e1332d;
    transition: all 1s;
    border-color: #e1332d;
    font-weight: 300;
    letter-spacing: -0.2rem;
    transition: all .5s;
}

.button-effect-4:hover {
    font-weight: 900;
    letter-spacing: 0.4375rem;
    border: 3px solid #ddff00;
}


/* №5------------------------------------------------------------------------------------------ */

.button-effect-5 {
    color: white;
    border: 3px solid #fff;
    transition: all 1s;
}

.button-effect-5::before {
    content: 'YEAH!';
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f44336;
    transition: 1s;
    transform: translateY(-100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-effect-5:hover:before {
    transform: translateY(0)
}


/* №6------------------------------------------------------------------------------------------ */

.button-effect-6 {
    color: white;
    border: 3px solid white;
    transition: all 1s;
}

.button-effect-6:hover {
    background-color: #f44336;
}

.button-effect-6::before {
    content: '';
    background-color: white;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
    position: absolute;
    transform: translateX(-100%) rotate(45deg);
    transition: all .6s;
}

.button-effect-6:hover::before {
    transform: translateX(100%) rotate(45deg);
}


/* №7------------------------------------------------------------------------------------------ */

.button-effect-7 {
    background-color: #262626;
    color: transparent;
}

.button-effect-7::before {
    content: 'button';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #fffa65;
    color: #262626;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .5s;
}

.button-effect-7::after {
    content: 'button';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #fffa65;
    color: #262626;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .5s;
    transform: translate(-100%, 100%);
}

.button-effect-7:hover::before {
    transform: translate(100%, -100%);
}

.button-effect-7:hover::after {
    transform: translate(0%, 0%);
}


/* №8------------------------------------------------------------------------------------------ */

.button-effect-8 {
    transition: all .5s;
}

.button-effect-8::before {
    content: 'button';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #262626;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(5);
    opacity: 0;
    transition: all 0.5s;
}

.button-effect-8:hover::before {
    transform: scale(1);
    opacity: 1;
}


/* №9------------------------------------------------------------------------------------------ */

.button-effect-9 {
    border: 3px solid tomato;
    background: none;
    color: tomato;
    transition: all .5s;
}

.button-effect-9::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: tomato;
    z-index: -1;
    border-radius: 0 0 50% 50%;
    height: 0;
    transition: all .5s;
}

.button-effect-9:hover::before {
    height: 190%;
}

.button-effect-9:hover {
    color: white;
}


/* №10------------------------------------------------------------------------------------------ */

.button-effect-10 {
    background-color: #f1c40f;
    color: white;
    overflow: visible;
    border-radius: 0%;
}

.button-effect-10::before {
    content: "Let's";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2ce771;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateX(270deg);
    transform-origin: top;
    transition: all .5s;
    border-bottom: 1px solid #262626;
    border-right: 1px solid #262626;
}

.button-effect-10::after {
    content: 'go!';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateX(270deg);
    transform-origin: top;
    transition: all .5s;
    border-bottom: 1px solid #262626;
    border-right: 1px solid #262626;
    transition-delay: .25s;
}

.button-effect-10:hover::before,
.button-effect-10:hover::after {
    transform: rotateX(0deg);
}


/* №11------------------------------------------------------------------------------------------ */

.button-effect-11 {
    color: transparent;
    border-color: #ff0;
}

.button-effect-11::before {
    content: 'button';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #363636;
    color: #ff0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s;
}

.button-effect-11:hover::before {
    left: 100%;
    opacity: 0;
    transform: scale(0) rotateY(360deg);
}

.button-effect-11::after {
    content: 'button';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #363636;
    color: #ff0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0) rotateY(0);
    opacity: 0;
    transition: all 1s;
}

.button-effect-11:hover::after {
    left: 0;
    opacity: 1;
    transform: scale(1) rotateY(360deg);
}


/* №12------------------------------------------------------------------------------------------ */

.button-effect-12 {
    overflow: visible;
    color: #ff0;
    background-color: transparent;
    border-color: transparent;
    transition: all .5s;
}

.button-effect-12::before,
.button-effect-12::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 20px;
    height: 20px;
    background-color: #ff0;
    border-radius: 50%;
    transform: translateY(-50%);
    transition: all .3s;
    z-index: -1;
    opacity: 0;
}

.button-effect-12::before {
    left: 0;
    box-shadow: -100px 0 0 #ff0;
}

.button-effect-12::after {
    right: 0;
    box-shadow: 100px 0 0 #ff0;
}

.button-effect-12:hover::before {
    left: 50%;
    box-shadow: 30px 0 0 #ff0;
    transform: translateX(-50%) translateY(-50%);
    opacity: 1;
}

.button-effect-12:hover::after {
    right: 50%;
    box-shadow: -30px 0 0 #ff0;
    transform: translateX(50%) translateY(-50%);
    opacity: 1;
}

.button-effect-12 span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ff0;
    border-radius: 10px;
    transform: scale(0);
    transition: all 0.3s;
    z-index: -1;
}

.button-effect-12:hover span {
    transform: scale(1);
    transition-delay: 0.4s;
}

.button-effect-12:hover {
    color: #262626;
    transition-delay: .4s;
}


/* №13------------------------------------------------------------------------------------------ */

.button-effect-13 {
    background-color: transparent;
    text-align: center;
    font-weight: bold;
    transition: all .2s;
    border: none;
    border-radius: 0;
    color: white;
    overflow: visible;
    perspective: 1000px;
}

.button-effect-13::before {
    content: '';
    position: absolute;
    top: -3px;
    left: -3px;
    width: 100%;
    height: 100%;
    background-color: #20caff;
    z-index: -1;
    mix-blend-mode: multiply;
    transition: all .2s;
    transform-origin: top;
}

.button-effect-13::after {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 100%;
    height: 100%;
    background-color: #ff7675;
    z-index: -1;
    mix-blend-mode: multiply;
    transition: all .2s;
    transform-origin: bottom;
}

.button-effect-13:hover::before {
    top: -6px;
    left: 0;
    transform: rotateX(75deg);
}

.button-effect-13:hover::after {
    top: 6px;
    left: 0;
    transform: rotateX(-75deg);
}


/* №14------------------------------------------------------------------------------------------ */

.button-effect-14 {
    color: #f6b93b;
    border-color: #f6b93b;
    transition: all .5s;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(15px + (20 - 15) * ((100vw - 320px) / (1440 - 320)));
}

.s14 {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-effect-14::before,
.button-effect-14::after,
.s14::before,
.s14::after {
    content: '';
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: #f6b93b;
    z-index: -1;
    transition: all .2s;
}

.button-effect-14::before {
    top: 0;
    left: -25%;
}

.button-effect-14:hover::before {
    top: 0;
    left: 0;
}

.button-effect-14::after {
    top: -100%;
    left: 25%;
    transition-delay: .1s;
}

.button-effect-14:hover::after {
    top: 0;
    left: 25%;
}

.s14::before {
    top: 100%;
    right: 25%;
    transition-delay: .2s;
}

.s14:hover:before {
    top: 0;
    right: 25%;
}

.s14::after {
    top: 0;
    right: -25%;
    transition-delay: .3s;
}

.s14:hover::after {
    top: 0;
    right: 0;
}

.button-effect-14:hover {
    color: #222;
}


/* №15------------------------------------------------------------------------------------------ */

.button-effect-15 {
    color: #fdc518;
    border: none;
    border-radius: 0%;
    overflow: visible;
}

.button-effect-15::before {
    content: '';
    position: absolute;
    height: 130%;
    width: 100%;
    top: -15%;
    left: 0;
    border-left: 2px solid red;
    border-right: 2px solid #fdc518;
    transition: all .4s;
}

.button-effect-15::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 105%;
    top: 0;
    left: -2.5%;
    border-top: 2px solid red;
    border-bottom: 2px solid #fdc518;
    transition: all .4s;
    transition-delay: .4s;
}

.button-effect-15:hover::before {
    transform: rotateY(180deg);
}

.button-effect-15:hover::after {
    transform: rotateX(180deg);
}


/* №16------------------------------------------------------------------------------------------ */

.button-effect-16 {
    border: none;
    border-radius: 0;
    background-color: #c47135;
    overflow: visible;
}

.button-effect-16::before {
    content: '';
    position: absolute;
    width: 15%;
    height: 50%;
    top: -5px;
    left: -5px;
    border-top: 2px solid #c47135;
    border-left: 2px solid #c47135;
    transition: all 1s;
}

.button-effect-16::after {
    content: '';
    position: absolute;
    width: 15%;
    height: 50%;
    bottom: -5px;
    right: -5px;
    border-bottom: 2px solid #c47135;
    border-right: 2px solid #c47135;
    transition: all .7s;
}

.button-effect-16:hover::before,
.button-effect-16:hover::after {
    width: 100%;
    height: 100%;
}


/* №17------------------------------------------------------------------------------------------ */

.button-effect-17 {
    border-radius: 0;
    background-color: white;
    color: black;
    border-color: black;
    overflow: visible;
    transition: all .2s;
}

.button-effect-17:hover {
    color: white;
    background-color: rgb(228, 227, 227);
}

.button-effect-17::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: -1;
    opacity: 0;
    transition: all .8s;
}

.button-effect-17:hover::before {
    opacity: 1;
    transform: rotate(15deg);
}

.s17 {
    color: transparent;
    position: relative;
}

.s17::before {
    content: 'B';
    position: absolute;
    color: black;
    transition: all .5s;
}

.button-effect-17:hover .s17::before {
    color: white;
    font-size: calc(56px + (80 - 56) * ((100vw - 320px) / (1440 - 320)));
    transform: translate(-65%, -50%) rotate(360deg);
}


/* №18------------------------------------------------------------------------------------------ */

.button-effect-18 {
    border-radius: 0;
    transition: all .2s;
    border: none;
}

.button-effect-18::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 4px;
    background-color: white;
    transition: all .5s;
}

.button-effect-18:hover:before {
    left: 0;
}

.button-effect-18::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 4px;
    background-color: white;
    transition: all .5s;
}

.button-effect-18:hover:after {
    right: 0;
    /* transition-delay: .8s; */
}

.s18::after {
    content: '';
    position: absolute;
    top: -100%;
    right: 0;
    width: 4px;
    height: 100%;
    background-color: white;
    transition: all .5s;
}

.button-effect-18:hover .s18:after {
    top: 0;
    /* transition-delay: .4s; */
}

.s18::before {
    content: '';
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 4px;
    height: 100%;
    background-color: white;
    transition: all .5s;
}

.button-effect-18:hover .s18:before {
    bottom: 0;
    /* transition-delay: 1.2s; */
}


/* №19------------------------------------------------------------------------------------------ */

.button-effect-19 {
    border-radius: 0;
    border-color: #00aeff;
    color: #00aeff;
    transition: all .5s;
}

.button-effect-19:hover .wave {
    top: 0;
}

.button-effect-19:hover {
    color: white
}

.wave {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: calc(100% + 22px);
    background-color: #00aeff;
    transition: all 1s;
    z-index: -1;
}

.wave::before {
    content: '';
    position: absolute;
    top: -22px;
    left: 0;
    width: 100%;
    height: 22px;
    background: url(./img/buttons/btn18/wave.png);
    animation: wavy .5s linear infinite;
}

@keyframes wavy {
    0% {
        background-position-x: 0;
    }

    100% {
        background-position-x: 70%;
    }
}


/* №20------------------------------------------------------------------------------------------ */

.button-effect-20 {
    border-radius: 0;
    border: none;
    background-color: white;
    color: black;
    text-transform: uppercase;
    transition: all .8s;
    /* overflow: visible; */
}

.s20 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
    border: 4px solid #cb8452;
    z-index: -1;
}

.s20::before {
    content: '';
    position: absolute;
    width: 8%;
    height: 500%;
    background-color: white;
    top: 50%;
    left: 50%;
    transition: all .8s;
    transform: translate(-50%, -50%) rotate(-60deg);
    border-top: 2px solid red;
}

.button-effect-20:hover .s20::before {
    width: 100%;
    height: 500px;
    background-color: rgb(64, 1, 73);
    transform: translate(-50%, -50%) rotate(60deg);
}

.button-effect-20:hover {
    color: white;
}


/* №21------------------------------------------------------------------------------------------ */

.button-effect-21 {
    border-radius: 0;
    border: none;
    background-color: transparent;
    color: white;
    text-transform: uppercase;
    transition: all .8s;
    overflow: visible;
}

.button-effect-21::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 40%;
    left: 10%;
    top: -5px;
    background-color: yellow;
    opacity: .7;
    transform: skewX(30deg);
    z-index: -1;
    transition: all .3s cubic-bezier(.68, -0.55, 0.265, 1.55);
}

.button-effect-21:hover:before {
    left: 50%;
    top: 0;
    width: 50%;
    transform: skewX(0);
}

.button-effect-21::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 40%;
    left: 52%;
    top: 5px;
    background-color: blue;
    transform: skewX(30deg);
    z-index: -1;
    transition: all .3s cubic-bezier(.68, -1, 0.265, 1.55);
}

.button-effect-21:hover::after {
    left: 0%;
    top: 0;
    width: 50%;
    transform: skewX(0);
}


/* №22------------------------------------------------------------------------------------------ */

.button-effect-22 {
    border-radius: 100px;
    border: none;
    background-color: white;
    color: #777;
    text-transform: uppercase;
    transition: all .2s;
    overflow: visible;
}

.button-effect-22::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 100px;
    z-index: -1;
    transition: all .7s;
}

.button-effect-22:hover::before {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.button-effect-22:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(227, 233, 247, 0.5)
}

.button-effect-22:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(227, 233, 247, 0.5)
}


/* №23------------------------------------------------------------------------------------------ */

.button-effect-23 {
    border-radius: 0;
    border-color: #fa03a8;
    background-color: white;
    color: #fa03a8;
    text-transform: uppercase;
    transition: all .2s;
}

.button-effect-23::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    /* left: 0;
    bottom: 0; */
    left: 0;
    background-color: #fa03a8;
    z-index: -1;
    border-top: 28px solid #fa03a8;
    border-bottom: 28px solid #fa03a8;
    border-right: 28px solid white;
    transition: all .3s;
    transform: translateX(-100%);
}

.button-effect-23:hover::before {
    transform: translateX(0);
    border-right: 28px solid transparent;
}

.button-effect-23::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    /* left: 0;
    bottom: 0; */
    right: 0;
    background-color: #fa03a8;
    z-index: -1;
    border-top: 28px solid #fa03a8;
    border-bottom: 28px solid #fa03a8;
    border-left: 28px solid white;
    transition: all .3s;
    transform: translateX(100%);
}

.button-effect-23:hover::after {
    transform: translateX(0);
    border-left: 28px solid transparent;
}

.button-effect-23:hover {
    color: white;
}


/* IMAGE EFFECTS--------------------------------------------------------------------------------------------------------- */

.container-images {}

.images-wrapper {
    display: grid;
    gap: calc(20px + (30 - 20) * ((100vw - 320px) / (1440 - 320)));
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
}

.image-item {
    overflow: hidden;
    max-width: 500px;
    height: 500px;
    position: relative;
    border-radius: 10px;
}

.image {
    object-fit: fill;
    width: 100%;
    /* height: 100%; */
}


/* IMG-1--------------------------------------------------------------------------------------------------------- */

.img1 {
    transition: all 0.5s;
    object-fit: cover;
    height: 100%;
}

.img1-caption {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0);
    transition: all .5s;
}

.img1-caption-title {
    text-transform: uppercase;
    font-size: calc(20px + (26 - 20) * ((100vw - 320px) / (1440 - 320)));
    font-weight: 900;
    margin-bottom: .7em;
    letter-spacing: 2px;
    text-align: center;
}

.img1-caption-text {
    font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1440 - 320)));
    text-transform: capitalize;
    text-align: center;
}

.image-item-1:hover .img1-caption {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.5);
}

.image-item-1:hover .img1 {
    transform: scale(1.3) rotate(10deg);
}


/* IMG-2--------------------------------------------------------------------------------------------------------- */

.img2 {
    transition: all 0.5s;
    object-fit: cover;
    height: 100%;
}

.img2-caption {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    transform: translateX(-100%);
    transition: all .5s;
}

.img2-caption-title {
    text-transform: uppercase;
    font-size: calc(20px + (26 - 20) * ((100vw - 320px) / (1440 - 320)));
    font-weight: 900;
    margin-bottom: .7em;
    letter-spacing: 2px;
    text-align: center;
}

.img2-caption-text {
    font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1440 - 320)));
    text-transform: capitalize;
    text-align: center;
}

.image-item-2:hover .img2-caption {
    background-color: rgba(0, 0, 0, 0.5);
    transform: translateX(0);
}

.image-item-2:hover .img2 {
    transform: scale(1.3) rotate(-10deg);
}


/* IMG-3--------------------------------------------------------------------------------------------------------- */

.img3 {
    transition: all 0.5s;
    object-fit: cover;
    height: 100%;
}

.img3-caption {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    transform: translateX(-100%);
    transition: all .5s;
}

.img3-caption-title {
    text-transform: uppercase;
    font-size: calc(20px + (26 - 20) * ((100vw - 320px) / (1440 - 320)));
    font-weight: 900;
    margin-bottom: .7em;
    letter-spacing: 2px;
    text-align: center;
}

.img3-caption-text {
    font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1440 - 320)));
    text-transform: capitalize;
    text-align: center;
}

.image-item-3:hover .img3-caption {
    background-color: rgba(0, 0, 0, 1);
    transform: translateX(0);
}

.image-item-3:hover .img3 {
    transform: translateX(100%);
}


/* IMG-4--------------------------------------------------------------------------------------------------------- */

.img4 {
    transition: all 0.5s;
    object-fit: cover;
    height: 100%;
}

.img4-caption {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    transform: translateY(100%);
    transition: all .5s;
}

.img4-caption-title {
    text-transform: uppercase;
    font-size: calc(20px + (26 - 20) * ((100vw - 320px) / (1440 - 320)));
    font-weight: 900;
    margin-bottom: .7em;
    letter-spacing: 2px;
    text-align: center;
}

.img4-caption-text {
    font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1440 - 320)));
    text-transform: capitalize;
    text-align: center;
}

.image-item-4:hover .img4-caption {
    background-color: rgba(0, 0, 0, 1);
    transform: translateY(0%);
}

.image-item-4:hover .img4 {
    transform: translateY(-30%);
}


/* IMG-5--------------------------------------------------------------------------------------------------------- */

.img5 {
    transition: all 0.5s;
    object-fit: cover;
    height: 100%;
}

.img5-caption {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all .5s;
    transform: translateY(-20px);
    opacity: 0;
    transition: all .25s;
}

.img5-caption-title {
    text-transform: uppercase;
    font-size: calc(20px + (26 - 20) * ((100vw - 320px) / (1440 - 320)));
    font-weight: 400;
    margin-bottom: .7em;
    letter-spacing: 1px;
    text-align: center;
}

.img5-caption-text {
    font-size: calc(12px + (16 - 12) * ((100vw - 320px) / (1440 - 320)));
    text-transform: capitalize;
    text-align: center;
    background-color: #ae895d;
    padding: 3px 5px;
}

.image-item-5::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #006266;
    opacity: .5;
    transform: translateY(100%);
    transition: all .25s;
    transition-delay: .25s;
}

.image-item-5:hover:before {
    transform: translateY(0);
    transition-delay: 0s;
}

.image-item-5:hover .img5-caption {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.3s;
}

.image-item-5:hover .img5 {}


/* IMG-6--------------------------------------------------------------------------------------------------------- */

.img6 {
    transition: all 1s;
    object-fit: cover;
    height: 100%;
}

.image-item-6 {
    border: 5px solid white;
}

.image-item-6:hover .img6 {
    transform: scale(1.3) rotate(9deg);
}


/* IMG-7--------------------------------------------------------------------------------------------------------- */

.image-item-7 {}

.img7 {
    object-fit: cover;
    height: 100%;
}

.img7-caption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
}

.img7-caption-title {
    text-transform: uppercase;
    font-size: calc(16px + (20 - 16) * ((100vw - 320px) / (1440 - 320)));
    width: 100%;
    padding: 20px;
    margin-top: 20px;
    letter-spacing: 1px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    transform: translate(50%, -400%);
    transition: all .25s;
}

.img7-caption-text {
    font-size: calc(12px + (16 - 12) * ((100vw - 320px) / (1440 - 320)));
    width: 80%;
    text-align: center;
    align-self: center;
    transition: all .25s;
    transform: translate(-50%, 800%);
}

.img7-caption-btn {
    text-decoration: none;
    background-color: black;
    color: white;
    border: none;
    border-radius: 0;
    font-size: calc(16px + (20 - 16) * ((100vw - 320px) / (1440 - 320)));
    letter-spacing: 1px;
    font-weight: 400;
    padding: 15px;
    margin-bottom: 20px;
    align-self: center;
    transition: all .25s;
    text-align: center;
    transform: translateY(300%);
}

.image-item-7::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 350%;
    height: 250%;
    background-color: #2d3436;
    opacity: .8;
    transform: translate(120%, 100%) rotate(-45deg);
    transition: all .25s;
}

.image-item-7:hover:before {
    transform: translate(-10%, -30%) rotate(-45deg);
    transition-delay: 0s;
}

.image-item-7:hover .img7-caption-title {
    transform: translate(0, 0);
    transition-delay: 0.3s;
}

.image-item-7:hover .img7-caption-text {
    transform: translate(0, 0);
    transition-delay: 0.4s;
}

.image-item-7:hover .img7-caption-btn {
    transform: translateY(0);
    transition-delay: 0.5s;
}


/* IMG-8--------------------------------------------------------------------------------------------------------- */

.image-item-8 {
    /* overflow: visible; */
}

.img8 {
    object-fit: cover;
    height: 100%;
}

.img8-caption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
}

.img8-caption-title {
    text-transform: uppercase;
    font-size: calc(16px + (20 - 16) * ((100vw - 320px) / (1440 - 320)));
    width: 100%;
    padding: 20px;
    margin-top: 20px;
    letter-spacing: 1px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    transform: translateY(-150px);
    transition: all .5s;
}

.img8-caption-text {
    font-size: calc(12px + (16 - 12) * ((100vw - 320px) / (1440 - 320)));
    width: 80%;
    text-align: center;
    align-self: center;
    transform: translateX(400px) rotate(90deg);
    transition: all .5s;
}

.img8-caption-btn {
    text-decoration: none;
    background-color: black;
    color: white;
    border: none;
    border-radius: 0;
    font-size: calc(16px + (20 - 16) * ((100vw - 320px) / (1440 - 320)));
    letter-spacing: 1px;
    font-weight: 400;
    padding: 15px;
    margin-bottom: 20px;
    align-self: center;
    transition: all .5s;
    text-align: center;
    transform: translateY(-600px);
}

.image-item-8::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2d3436;
    opacity: .8;
    transform: translate(170%, -100px) rotate(180deg);
    transition: all .5s;
}

.image-item-8:hover:before {
    transform: translate(0, 0) rotate(0);
    transition-delay: 0s;
}

.image-item-8:hover .img8-caption-title {
    transform: translateY(0);
    transition-delay: 0.5s;
}

.image-item-8:hover .img8-caption-text {
    transform: translateX(0) rotate(0);
    transition-delay: 0.4s;
}

.image-item-8:hover .img8-caption-btn {
    transform: translateY(0);
    transition-delay: 0.3s;
}


/* IMG-9--------------------------------------------------------------------------------------------------------- */

.image-item-9 {
    /* overflow: visible; */
    background-color: #444;
    border: 10px solid white;
    border-radius: 0;
}

.img9 {
    object-fit: cover;
    height: 100%;
    transition: all .5s;
    transition-delay: .5s;
}

.img9-caption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
}

.img9-caption-title {
    text-transform: uppercase;
    font-size: calc(16px + (20 - 16) * ((100vw - 320px) / (1440 - 320)));
    width: 100%;
    padding: 20px;
    margin-top: 20px;
    letter-spacing: 1px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    transition: all .5s;
}

.img9-caption-text {
    font-size: calc(12px + (16 - 12) * ((100vw - 320px) / (1440 - 320)));
    width: 80%;
    text-align: center;
    align-self: center;
    opacity: 0;
    transition: all .5s;
}

.img9-caption-btn {
    text-decoration: none;
    background-color: black;
    color: white;
    border: none;
    border-radius: 0;
    font-size: calc(16px + (20 - 16) * ((100vw - 320px) / (1440 - 320)));
    letter-spacing: 1px;
    font-weight: 400;
    padding: 15px;
    margin-bottom: 20px;
    align-self: center;
    transition: all .5s;
    text-align: center;
    opacity: 0;
}

.image-item-9::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #006266;
    transform: scale(0) rotate(-180deg);
    transition: all .5s;
}

.image-item-9:hover:before {
    transform: scale(1) rotate(180deg);
    transition-delay: 0.5s;
}

.image-item-9:hover .img9 {
    transform: scale(0);
    transition-delay: 0;
}

.image-item-9:hover .img9-caption-title {
    opacity: 1;
    transition-delay: 1s;
}

.image-item-9:hover .img9-caption-text {
    opacity: 1;
    transition-delay: 1s;
}

.image-item-9:hover .img9-caption-btn {
    opacity: 1;
    transition-delay: 1s;
}


/* IMG-10--------------------------------------------------------------------------------------------------------- */

.image-item-10 {
    /* overflow: visible; */
    background-color: #444;
}

.img10 {
    object-fit: cover;
    height: 100%;
    transition: all .5s;
}

.img10-caption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
}

.img10-caption-title {
    text-transform: uppercase;
    font-size: calc(16px + (20 - 16) * ((100vw - 320px) / (1440 - 320)));
    width: 100%;
    padding: 20px;
    margin-top: 20px;
    letter-spacing: 1px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    transform: scale(10);
    opacity: 0;
    transition: all .3s;
}

.img10-caption-text {
    font-size: calc(12px + (16 - 12) * ((100vw - 320px) / (1440 - 320)));
    width: 80%;
    text-align: center;
    align-self: center;
    transform: scale(10);
    opacity: 0;
    transition: all .3s;
}

.img10-caption-btn {
    text-decoration: none;
    background-color: black;
    color: white;
    border: none;
    border-radius: 0;
    font-size: calc(16px + (20 - 16) * ((100vw - 320px) / (1440 - 320)));
    letter-spacing: 1px;
    font-weight: 400;
    padding: 15px;
    margin-bottom: 20px;
    align-self: center;
    text-align: center;
    transform: translateY(150px);
    transition: all .3s;
}

.image-item-10::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #006266;
    opacity: 0;
    transition: all .3s;
}

.image-item-10:hover:before {
    opacity: 1;
}

.image-item-10:hover .img10 {
    transform: scale(0);
}

.image-item-10:hover .img10-caption-title {
    opacity: 1;
    transform: scale(1);
    transition-delay: .2s;
}

.image-item-10:hover .img10-caption-text {
    opacity: 1;
    transform: scale(1);
    transition-delay: .2s;
}

.image-item-10:hover .img10-caption-btn {
    transform: translate(0);
    transition-delay: .2s;
}


/* IMG-11--------------------------------------------------------------------------------------------------------- */

.image-item-11 {
    /* overflow: visible; */
    background-color: #444;
    border: 10px solid white;
    border-radius: 0;
}

.img11 {
    object-fit: cover;
    height: 100%;
    transition: all .5s;
}

.img11-caption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
}

.img11-caption-title {
    text-transform: uppercase;
    font-size: calc(16px + (20 - 16) * ((100vw - 320px) / (1440 - 320)));
    width: 100%;
    padding: 20px;
    margin-top: 20px;
    letter-spacing: 1px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    transform: translateY(-600px);
    transition: all .2s;
}

.img11-caption-text {
    font-size: calc(12px + (16 - 12) * ((100vw - 320px) / (1440 - 320)));
    width: 80%;
    text-align: center;
    align-self: center;
    transform: translateY(-600px);
    transition: all .2s;
}

.img11-caption-btn {
    text-decoration: none;
    background-color: black;
    color: white;
    border: none;
    border-radius: 0;
    font-size: calc(16px + (20 - 16) * ((100vw - 320px) / (1440 - 320)));
    letter-spacing: 1px;
    font-weight: 400;
    padding: 15px;
    margin-bottom: 20px;
    align-self: center;
    text-align: center;
    transform: translateY(-600px);
    transition: all .2s;
}

.image-item-11::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #006266;
    opacity: 0;
    transition: all .3s;
}

.image-item-11:hover:before {
    opacity: 1;
    transition-delay: 0.5s;
}

.image-item-11:hover .img11 {
    transform: rotate(720deg) scale(0);
    opacity: 0;
    transition-delay: 0;
}

.image-item-11:hover .img11-caption-title {
    transform: translateY(0);
    transition-delay: .9s;
}

.image-item-11:hover .img11-caption-text {
    transform: translateY(0);
    transition-delay: .7s;
}

.image-item-11:hover .img11-caption-btn {
    transform: translateY(0);
    transition-delay: .5s;
}


/* MENU EFFECTS--------------------------------------------------------------------------------------------------------- */

.container-menu {}

.menu-wrapper {
    display: grid;
    gap: calc(10px + (20 - 10) * ((100vw - 320px) / (1440 - 320)));
    grid-template-columns: repeat(1, minmax(290px, auto));
    /* grid-template-columns: repeat(auto-fit, minmax(290px, auto)); */
    overflow: hidden;
}

.menu-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    min-height: 100px;
    border-radius: 4px;
    margin: 0 auto;
}

.menu-list {
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

@media (max-width: 841px) {
    .menu-wrapper {
        grid-template-columns: repeat(auto-fit, minmax(290px, auto));
    }

    .menu-list {
        flex-direction: column;
    }

    .menu-item {
        min-height: 300px;
        max-width: 85%;
        margin: 0 auto;
    }
}

.menu-list-item {}

.menu-btn {
    font-size: calc(20px + (26 - 20) * ((100vw - 320px) / (1440 - 320)));
}


/* MENU-1--------------------------------------------------------------------------------------------------------- */

.menu-item-1 {
    background-color: #fffa65;
}

.menu1-list {}

.menu1-list-item {}

.menu1-btn {
    color: #3d3d3d;
    display: block;
    padding: 10px 15px;
    position: relative;
}

.menu1-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #3d3d3d;
    transform: scaleX(0);
    transform-origin: left;
    transition: all .5s;
}

.menu1-btn::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #3d3d3d;
    transform: scaleX(0);
    transform-origin: right;
    transition: all .5s;
}

.menu1-btn:hover::before,
.menu1-btn:hover::after {
    transform: scaleX(1);
}


/* MENU-2--------------------------------------------------------------------------------------------------------- */

.menu-item-2 {
    background-color: white;
}

.menu2-list {}

.menu2-list-item {}

.menu2-btn {
    display: block;
    padding: 5px 10px;
    margin: 10px 10px;
    color: #272727;
    text-transform: uppercase;
    position: relative;
    transition: all .5s;
    /* min-width: 120px; */
    text-align: center;
}

.menu2-btn:hover {
    background-color: #e91e63;
    color: white;
    transition-delay: .3s;
}

.menu2-btn::before {
    content: '';
    position: absolute;
    bottom: 12px;
    left: 12px;
    width: 12px;
    height: 12px;
    border: 3px solid #e91e63;
    border-width: 0 0 3px 3px;
    opacity: 0;
    transition: all .3s;
}

.menu2-btn::after {
    content: '';
    position: absolute;
    top: 12px;
    right: 12px;
    width: 12px;
    height: 12px;
    border: 3px solid #e91e63;
    border-width: 3px 3px 0 0;
    opacity: 0;
    transition: all .3s;
}

.menu2-btn:hover::before {
    opacity: 1;
    bottom: -8px;
    left: -8px;
}

.menu2-btn:hover::after {
    opacity: 1;
    top: -8px;
    right: -8px;
}


/* MENU-3--------------------------------------------------------------------------------------------------------- */

.menu-item-3 {
    background-color: white;
}

.menu3-list {}

.menu3-list-item {}

.menu3-btn {
    display: block;
    width: 140px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: #272727;
    text-transform: uppercase;
    position: relative;
    transition: all .5s;
    z-index: 2;
}

.menu3-span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: #262626;
    z-index: -1;
    left: 0;
    top: 0;
    transform: scaleY(0);
    transition: all .5s;
    transform-origin: top;
}

.menu3-span:nth-child(2) {
    left: 25%;
    transition-delay: .15s;
}

.menu3-span:nth-child(3) {
    left: 50%;
    transition-delay: .3s;
}

.menu3-span:nth-child(4) {
    left: 75%;
    transition-delay: .45s;
}

.menu3-btn:hover .menu3-span {
    transform: scaleY(1);
}

.menu3-btn:hover {
    color: white;
    transition-delay: .2s;
}


/* MENU-4--------------------------------------------------------------------------------------------------------- */

.menu-item-4 {
    background-color: white;
}

.menu4-list {
    margin: 10px auto;
}

.menu4-list-item {
    padding: 10px 20px;
    margin: 5px;
}

.menu4-btn {
    display: block;
    color: #222;
    text-transform: uppercase;
    position: relative;
    transition: all .5s;
    text-align: center;
}


.menu4-btn::before {
    content: '';
    position: absolute;
    width: 0;
    height: 5px;
    background-color: #00bcd4;
    top: 120%;
    left: 0;
    transition: all .5s;
}

.menu4-btn::after {
    content: '';
    position: absolute;
    width: 0;
    height: 5px;
    background-color: #f0f;
    top: 120%;
    right: 0;
    transition: all .5s;
}

.menu4-btn:hover::before {
    width: 50%;
    transform: translateX(100%);
}

.menu4-btn:hover::after {
    width: 50%;
    transform: translateX(-100%);
}

/* MENU-5--------------------------------------------------------------------------------------------------------- */

.menu-item-5 {
    background-color: #006266;
}

.menu5-list {}

.menu5-list-item {
    margin: 10px 20px;
    transition: .5s;
}

.menu5-btn {
    display: block;
    position: relative;
    padding: 5px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    transition: all .5s;
    z-index: 2;
}

.menu5-list:hover .menu5-btn {
    filter: blur(5px);
    opacity: 0.2;
}

.menu5-list .menu5-btn:hover {
    transform: scale(1.5);
    opacity: 1;
    filter: blur(0);
}

.menu5-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ee5a24;
    transition: all .3s;
    transform: scale(0);
    z-index: -1;
}

.menu5-btn::after {
    content: '';
    position: absolute;

}

.menu5-btn:hover::before {
    transform: scale(1);
}

/* MENU-6--------------------------------------------------------------------------------------------------------- */

.menu-item-6 {
    background-color: #333;
}

.menu6-list {}

.menu6-list-item {
    position: relative;
    margin: 5px;
    min-width: 120px;
}

.menu6-btn {
    display: block;
    position: relative;
    height: 40px;
    padding: 5px 10px;
    font-weight: 300;
    letter-spacing: 2px;
    overflow: hidden;
    text-align: center;
    z-index: 2;
    transition: all .5s;
}

.menu6-span {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
    color: white;
    font-size: 20px;
    text-transform: capitalize;
    transition-delay: .5s;

}

.menu6-btn:hover .menu6-span:nth-child(1) {
    transform: translateY(-100%);
    transition-delay: 0s;
}

.menu6-btn:hover .menu6-span:nth-child(2) {
    transform: translateY(-100%);
    transition-delay: 0s;
}

.menu6-btn::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    background-color: #16a085;
    transform: scaleX(0);
    transform-origin: left;
    transition: .5s;
}

.menu6-btn::after {
    content: '';
    position: absolute;

}

.menu6-btn:hover::before {
    transform: scaleX(1);
    left: 0;
    width: 100%;
    transition-delay: .5s;
}

/* MENU-7--------------------------------------------------------------------------------------------------------- */

.menu-item-7 {
    background-color: white;
}

.menu7-list {
    /* margin: 10px auto; */
}

.menu7-list-item {
    margin: 10px;
}

.menu7-btn {
    position: relative;
    display: block;
    padding: 10px 30px;
    color: #222;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: bold;
    transition: .5s;
    z-index: 2;
}


.menu7-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scaleY(2);
    transition: .5s;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    opacity: 0;
}

.menu7-btn::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #222;
    transition: .5s;
    z-index: -1;
    transform: scale(0);
}

.menu7-btn:hover::before {
    transform: scaleY(1.15);
    opacity: 1;
}

.menu7-btn:hover::after {
    transform: scale(1);
}

.menu7-btn:hover {
    color: white;
}

/* MENU-8--------------------------------------------------------------------------------------------------------- */

.menu-item-8 {
    background-color: #333;
}

.menu8-list {}

.menu8-list-item {
    padding: 10px 30px;
}

.menu8-btn {
    display: block;
    text-transform: uppercase;
    font-size: 24px;
    color: white;
    padding: 5px;
    position: relative;
}

.menu8-span:first-child::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 8px;
    height: 8px;
    background-color: transparent;
    border-top: 2px solid #ff0;
    border-left: 2px solid #ff0;
    transition: .2s;
    opacity: 0;
}
.menu8-span:first-child::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 8px;
    height: 8px;
    background-color: transparent;
    border-top: 2px solid #ff0;
    border-right: 2px solid #ff0;
    transition: .2s;
    opacity: 0;
}
.menu8-span:last-child::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 8px;
    height: 8px;
    background-color: transparent;
    border-bottom: 2px solid #ff0;
    border-left: 2px solid #ff0;
    transition: .2s;
    opacity: 0;
}
.menu8-span:last-child::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 8px;
    height: 8px;
    background-color: transparent;
    border-bottom: 2px solid #ff0;
    border-right: 2px solid #ff0;
    transition: .2s;
    opacity: 0;
}


.menu8-btn:hover {
    color: #ff0
}
.menu8-btn:hover .menu8-span:first-child::before{
    top: -10px;
    left: -10px;
    opacity: 1;
}
.menu8-btn:hover .menu8-span:first-child::after{
    top: -10px;
    right: -10px;
    opacity: 1;
}
.menu8-btn:hover .menu8-span:last-child::before{
    bottom: -10px;
    left: -10px;
    opacity: 1;
}
.menu8-btn:hover .menu8-span:last-child::after{
    bottom: -10px;
    right: -10px;
    opacity: 1;
}

/* MENU-9--------------------------------------------------------------------------------------------------------- */

.menu-item-9 {
    background-color: rgb(27, 27, 27);
}

.menu9-list {
    margin: 20px auto;
}

.menu9-list-item {
    
}

.menu9-btn {
    position: relative;
    display: block;
    min-width: 150px;
    text-align: center;
    padding: 10px;
    margin: 20px;
    text-transform: uppercase;
    font-size: 20px;
    color: #ffeb3b;
}


.menu9-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top: 2px solid #ffeb3b;
    border-left: 2px solid #ffeb3b;
    transition: .5s;
    box-sizing: border-box;
    transform-origin: left;
}

.menu9-btn::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid #ffeb3b;
    border-right: 2px solid #ffeb3b;
    transition: .5s;
    box-sizing: border-box;
    transform-origin: right;
}
.menu9-btn:hover {
   
}
.menu9-btn:hover::before {
   width: 15px;
   height: 15px;
   transform: rotate(360deg);
}

.menu9-btn:hover::after {
    width: 15px;
    height: 15px;
    transform: rotate(360deg);
}



/*FOOTER--------------------------------------------------------------------------------------------------------- */

.footer {
    background-color: #011929;
    padding: calc(15px + (30 - 15) * ((100vw - 320px) / (1440 - 320)));
    text-align: center;
}