@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;900&display=swap');

body {
	background: #bdc3c7;
}

.wrapper {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
	margin-bottom: 20px;

}

.container {
	width: 90%;
	border-radius: 4px;
	background: #D3CCE3;
	/* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, #E9E4F0, #D3CCE3);
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, #E9E4F0, #D3CCE3);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



}

.title {
	display: block;
	text-align: center;
	margin: 5px;
	color: rgb(16, 15, 15);
	text-transform: uppercase;
	letter-spacing: .7rem;

}

.buttons-container {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;

}

.btn {
	margin: 30px;
	text-decoration: none;
	text-transform: uppercase;
	color: #262626;
	font-family: sans-serif;
	font-size: 35px;
	letter-spacing: 2px;
	border: 3px solid #262626;
	padding: 20px 40px;
	position: relative;
	overflow: hidden;
	z-index: 2;
	border-radius: 10px;
}

/* №1------------------------------------------------------------------------------------------ */

.button-hover-effect-1:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	background-color: rgb(255, 255, 0);
	height: 100%;
	width: 100%;

	z-index: -1;
	transform-origin: bottom left;
	transform: rotate(-90deg);
	transition: transform 1s;
}

.button-hover-effect-1:hover:before {
	transform: rotate(0deg);
}

/* №2------------------------------------------------------------------------------------------ */
.button-hover-effect-2 {
	color: #351435;
	border-color: #351435;
	transition: all 1s;

}

.button-hover-effect-2:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: #351435;
	z-index: -1;
	transform: translateX(-100%);
	transition: all 1s;

}

.button-hover-effect-2::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: #35014b;
	z-index: -1;
	transform: translateX(100%);
	transition: all 1s;

}

.button-hover-effect-2:hover:before {
	transform: translateX(-50%);
}

.button-hover-effect-2:hover::after {
	transform: translateX(49%);
}

.button-hover-effect-2:hover {
	color: white;
}

/* №3------------------------------------------------------------------------------------------ */
.button-hover-effect-3 {
	color: #262626;
	transition: all 1s;
}

.button-hover-effect-3::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	background-color: #262626;
	transition: 1s;
	transform: rotateX(90deg);
}

.button-hover-effect-3::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	background-color: #262626;
	transition: 1s;
	transform: rotateY(90deg);
}

.button-hover-effect-3:hover::before {
	transform: rotateX(0deg);
}

.button-hover-effect-3:hover::after {
	transform: rotateY(0deg);
}

.button-hover-effect-3:hover {
	color: white;
}

/* №4------------------------------------------------------------------------------------------ */
.button-hover-effect-4 {
	color: #e1332d;
	transition: all 1s;
	border-color: #e1332d;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	letter-spacing: -2px;
	transition: all .5s;
}

.button-hover-effect-4:hover{
	font-weight: 900;
	letter-spacing: 10px;
	border: 7px solid #e1332d;
}

/* №5------------------------------------------------------------------------------------------ */
.button-hover-effect-5 {
	color: white;
	border: 3px solid #fff;

	transition: all 1s;
}

.button-hover-effect-5::before {
	content: 'YEAH!';
	color: white;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #f44336;
	transition: 1s;
	transform: translateY(-100%);
	display: flex;
	align-items: center;
	justify-content: center;
}

.button-hover-effect-5:hover:before{
	transform: translateY(0)

}