@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;900&display=swap');

body {
	background: #bdc3c7;
	font-family: 'Roboto', sans-serif;

}


.wrapper {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* margin-top: 20px;
	margin-bottom: 20px; */

}
.header{
	width: 100%;
	height: 100px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	z-index: 50;
	background-color: rgba(11, 11, 11, 0.3);
}
.logo img{
	contain: layout;
	width: 100px;
	height: 100px;
	
}
.container {
	width: 90%;
	margin-top: 60px;

	border-radius: 4px;
	background: #8e9eab;
	/* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, #eef2f3, #8e9eab);
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, #eef2f3, #8e9eab);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.title {
	display: block;
	text-align: center;
	margin: 5px;
	color: rgb(16, 15, 15);
	text-transform: uppercase;
	letter-spacing: .7rem;

}

.buttons-container {
	/* display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center; */
	display: grid;
	gap: 30px;
	grid-template-columns: repeat(4, 1fr);
	padding: 15px;
}

.btn {
	/* margin: 20px; */

	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	text-transform: uppercase;
	color: #262626;
	font-family: 'Roboto', sans-serif;

	font-size: 35px;
	font-weight: 700;
	letter-spacing: 2px;
	border: 3px solid #262626;
	padding: 20px 40px;
	position: relative;
	overflow: hidden;
	z-index: 2;
	border-radius: 10px;
}

@media screen and (max-width: 1000px) {
	.container {
		width: 95%;
	}

	.buttons-container {
		grid-template-columns: repeat(3, 1fr);
		gap: 10px;
		padding: 10px;

	}

	.btn {
		font-size: 20px;
		padding: 10px 20px;
		text-align: center;

	}
}

@media screen and (max-width: 425px) {
	.buttons-container {
		grid-template-columns: repeat(2, 1fr);
	}

	.title {
		font-size: 1.2em;
	}
}

/* №1------------------------------------------------------------------------------------------ */

.button-effect-1:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	background-color: rgb(255, 255, 0);
	height: 100%;
	width: 100%;

	z-index: -1;
	transform-origin: bottom left;
	transform: rotate(-90deg);
	transition: transform 1s;
}

.button-effect-1:hover:before {
	transform: rotate(0deg);
}

/* №2------------------------------------------------------------------------------------------ */
.button-effect-2 {
	color: #351435;
	border-color: #351435;
	transition: all 1s;

}

.button-effect-2:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: #351435;
	z-index: -1;
	transform: translateX(-100%);
	transition: all 1s;

}

.button-effect-2::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: #35014b;
	z-index: -1;
	transform: translateX(100%);
	transition: all 1s;

}

.button-effect-2:hover:before {
	transform: translateX(-50%);
}

.button-effect-2:hover::after {
	transform: translateX(49%);
}

.button-effect-2:hover {
	color: white;
}

/* №3------------------------------------------------------------------------------------------ */
.button-effect-3 {
	color: #262626;
	transition: all 1s;
}

.button-effect-3::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	background-color: #262626;
	transition: 1s;
	transform: rotateX(90deg);
}

.button-effect-3::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	background-color: #262626;
	transition: 1s;
	transform: rotateY(90deg);
}

.button-effect-3:hover::before {
	transform: rotateX(0deg);
}

.button-effect-3:hover::after {
	transform: rotateY(0deg);
}

.button-effect-3:hover {
	color: white;
}

/* №4------------------------------------------------------------------------------------------ */
.button-effect-4 {
	color: #e1332d;
	transition: all 1s;
	border-color: #e1332d;
	font-weight: 300;
	letter-spacing: -2px;
	transition: all .5s;
}

.button-effect-4:hover {
	font-weight: 900;
	letter-spacing: 7px;
	border: 5px solid #e1332d;
}

/* №5------------------------------------------------------------------------------------------ */
.button-effect-5 {
	color: white;
	border: 3px solid #fff;

	transition: all 1s;
}

.button-effect-5::before {
	content: 'YEAH!';
	color: white;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #f44336;
	transition: 1s;
	transform: translateY(-100%);
	display: flex;
	align-items: center;
	justify-content: center;
}

.button-effect-5:hover:before {
	transform: translateY(0)
}

/* №6------------------------------------------------------------------------------------------ */
.button-effect-6 {
	color: white;
	border: 3px solid white;
	transition: all 1s;
}

.button-effect-6:hover {
	background-color: #f44336;
}

.button-effect-6::before {
	content: '';
	background-color: white;
	top: 0;
	left: 0;
	width: 100%;
	height: 30px;
	position: absolute;
	transform: translateX(-100%) rotate(45deg);
	transition: all .6s;

}

.button-effect-6:hover::before {
	transform: translateX(100%) rotate(45deg);

}

/* №7------------------------------------------------------------------------------------------ */
.button-effect-7 {
	background-color: #262626;
	color: transparent;
}

.button-effect-7::before {
	content: 'button-7';
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: #fffa65;
	color: #262626;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all .5s;
}

.button-effect-7::after {
	content: 'button-7';
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: #fffa65;
	color: #262626;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all .5s;
	transform: translate(-100%, 100%);
}

.button-effect-7:hover::before {
	transform: translate(100%, -100%);

}

.button-effect-7:hover::after {
	transform: translate(0%, 0%);

}

/* №8------------------------------------------------------------------------------------------ */
.button-effect-8 {
	transition: all .5s;
}

.button-effect-8::before {
	content: 'button-8';
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: #262626;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	transform: scale(5);
	opacity: 0;
	transition: all 0.5s;
}

.button-effect-8:hover::before {
	transform: scale(1);
	opacity: 1;
}

/* №9------------------------------------------------------------------------------------------ */
.button-effect-9 {
	border: 2px solid tomato;
	background: none;
	color: tomato;
	transition: all .5s;
}

.button-effect-9::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: tomato;
	z-index: -1;
	border-radius: 0 0 50% 50%;
	height: 0;
	transition: all .5s;
}

.button-effect-9:hover::before {
	height: 190%;
}

.button-effect-9:hover {
	color: white;
}

/* №10------------------------------------------------------------------------------------------ */
.button-effect-10 {
	background-color: #f1c40f;
	color: white;
	overflow: visible;
	border-radius: 0%;
}

.button-effect-10::before {
	content: 'button-10';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #2ce771;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: rotateX(270deg);
	transform-origin: top;
	transition: all .5s;
	border-bottom: 1px solid #262626;
	border-right: 1px solid #262626;
}

.button-effect-10::after {
	content: 'button-10';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: red;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: rotateX(270deg);
	transform-origin: top;
	transition: all .5s;
	border-bottom: 1px solid #262626;
	border-right: 1px solid #262626;
	transition-delay: .25s;
}

.button-effect-10:hover::before,
.button-effect-10:hover::after {
	transform: rotateX(0deg);
}

/* №11------------------------------------------------------------------------------------------ */
.button-effect-11 {
	color: transparent;
	border-color: #ff0;
}

.button-effect-11::before {
	content: 'button-11';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #363636;
	color: #ff0;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 1s;
}

.button-effect-11:hover::before {
	left: 100%;
	opacity: 0;
	transform: scale(0) rotateY(360deg);
}

.button-effect-11::after {
	content: 'button-11';
	position: absolute;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	background-color: #363636;
	color: #ff0;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: scale(0) rotateY(0);
	opacity: 0;
	transition: all 1s;
}

.button-effect-11:hover::after {
	left: 0;
	opacity: 1;
	transform: scale(1) rotateY(360deg);
}

/* №12------------------------------------------------------------------------------------------ */
.button-effect-12 {
	display: block;
	overflow: visible;
	text-align: center;
	line-height: 40px;
	width: 320px;
	height: 40px;
	color: #ff0;
	background-color: transparent;
	border-color: transparent;
	transition: all .5s;
}

.button-effect-12::before,
.button-effect-12::after {
	content: '';
	position: absolute;
	top: 50%;
	width: 20px;
	height: 20px;
	background-color: #ff0;
	border-radius: 50%;
	transform: translateY(-50%);
	transition: all .3s;
	z-index: -1;
	opacity: 0;
}

.button-effect-12::before {
	left: 0;
	box-shadow: -100px 0 0 #ff0;
}

.button-effect-12::after {
	right: 0;
	box-shadow: 100px 0 0 #ff0;

}

.button-effect-12:hover::before {
	left: 50%;
	box-shadow: 30px 0 0 #ff0;
	transform: translateX(-50%) translateY(-50%);
	opacity: 1;
}

.button-effect-12:hover::after {
	right: 50%;
	box-shadow: -30px 0 0 #ff0;
	transform: translateX(50%) translateY(-50%);
	opacity: 1;
}

.button-effect-12 span {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #ff0;
	border-radius: 10px;
	transform: scale(0);
	transition: all 0.3s;
	z-index: -1;
}

.button-effect-12:hover span {
	transform: scale(1);
	transition-delay: 0.4s;
}

.button-effect-12:hover {
	color: #262626;
	transition-delay: .4s;
}
/* №13------------------------------------------------------------------------------------------ */
.button-effect-13 {
	width: 320px;
	height: 40px;
	background-color: transparent;
	text-align: center;
	line-height: 40px;
	font-weight: bold;
	letter-spacing: 2px;
	transition: all .2s;
	border: none;
	border-radius: 0;
	color: white;
	
}
.button-effect-13::before{
	content: '';
	position: absolute;
	top: -6px;
	left: -6px;
	width: 100%;
	height: 100%;
	background-color: #20caff;
	z-index: -1;
	mix-blend-mode: multiply;
	transition: all .2s;
	transform-origin: top;
}
.button-effect-13::after{
	content: '';
	position: absolute;
	top: 6px;
	left: 6px;
	width: 100%;
	height: 100%;
	background-color: #ff7675;
	z-index: -1;
	mix-blend-mode: multiply;
	transition: all .2s;
	transform-origin: bottom;



}
.button-effect-13:hover::before{
	top: -6px;
	left: 0;
	transform: perspective(400px) rotateX(75deg);
}
.button-effect-13:hover::after{
	top: 6px;
	left: 0;
	transform: perspective(400px) rotateX(-75deg);
}